$type: none | $_[0]: none; Project; 10-31-2017; MIKE; MS Dynamics; Microsoft will present a POC to primarily business on Thursday (based on business stories provided by participants and data from primary sources).; Green | $array[0]: none
2
$type: none | $_[0]: none; Project; 10-31-2017; MIKE; O365 Working Group; Nothing so far this week, going to follow up with Karen Canas.  Still unsure what the priorities are for this project are?; Green | $array[0]: none
3
$type: none | $_[0]: none; Project; 10-31-2017; MIKE; Federated Services; Static, focus has been on Dynamics POC this week.; Green | $array[0]: none
4
$type: none | $_[0]: none; Project; 10-31-2017; MIKE; Amazon; Nothing much happening; Green | $array[0]: none
5
$type: none | $_[0]: none; Project; 10-31-2017; KEN; Business Continuity and Disaster Recovery (BC/DR);  Still need to meet with Secretary.; Green  | $array[0]: none
6
$type: none | $_[0]: none; Project; 10-31-2017; KEN; Auto Site Recovery (ASR);  Waiting for either Ray or VPN solution Jon is working on with David K.; Green | $array[0]: none
7
$type: none | $_[0]: none; Project; 10-31-2017; KEN; Tax BC/DR Plan; Met with Tom B and got some great input into the BIA for a few critical systems. Tom is going to get the rest of the documents updated electronically (info is gathered not entered) then we will transpose to the BIA worksheet.; Green   | $array[0]: none
8
$type: none | $_[0]: none; Project; 10-31-2017; CLAUS; Rubrik; Rubrik is still cool. Currently protecting 350 VMs and about 45TB of provisioned space. We have about 200TB of provisioned VM space still to go and will not be able to include all of that pre-VxRack (slow, old firewalls do not enough throughput to keep everything backed up on a daily cycle). Will be submitting ACLs today or tomorrow to be put on the cores at TV and NL to protect the data pipes to Rubrik. Will be adding some datamover filesystems soon. They will not traverse our slow old firewalls so we should start getting a bit closer to utilizing the potential of the solution.  That being said the existing network design will still be constricting it somewhat.; Green | $array[0]: none
9
$type: none | $_[0]: none; Project; 10-31-2017; CLAUS; Virtual Firewalling; Nothing to report.; Green | $array[0]: none
10
$type: none | $_[0]: none; Project; 10-31-2017; CLAUS; Resource Refresh and VxRack; Waiting for contract to be signed. Working with Jim on prep stuff so that Dell-EMC can start moving as soon as signed. Have pretty logical network diagram for the future VxRack environment. Networking needs to figure out how much they want to be part of the physical network gear included in the VxRack solution. Ray likes the idea of owning it.  Peter does not.  ACLs on the core really makes the most sense for the big, fat pipes. I do like the idea of removing our physical mgmt firewalls from the mix and it is something that should be a lot easier and less disruptive after migration to VxRack is complete.; Green | $array[0]: none
11
$type: none | $_[0]: none; Project; 10-31-2017; DAN; Refresh Network Security Design;  Still being put together.  Hoping for next Monday.; Green | $array[0]: none
12
$type: none | $_[0]: none; Project; 10-31-2017; JON; Cloud Design; On hold, waiting on VPN and test plan for edge protection. Minor experimentation as ideas come up from training.; Green | $array[0]: none
13
$type: none | $_[0]: none; Project; 10-31-2017; JON; VPN; Coordinating with David on his required info for a ticket to be created.; Green | $array[0]: none
14
$type: none | $_[0]: none; Project; 10-31-2017; JON; LM and SolarWinds; Ray said no testing until new server was running. Pinged Rick on its status.  Waiting.; Green | $array[0]: none
15
$type:  | $_[0]: Business Continuity and Disaster Recovery (BC/DR); Note; 11-07-2017; KEN; Business Continuity and Disaster Recovery (BC/DR);  Assembling the spreadsheet Tom B gave me of their systems and putting into BIA format.; Green  | $array[0]: Business Continuity and Disaster Recovery (BC/DR)
1510157950

16
$type:  | $_[0]: Auto Site Recovery (ASR); Note; 11-07-2017; KEN; Auto Site Recovery (ASR); Meeting with Jon today to knowledge transfer what he has been working on to move forward while he is on vacation.; Green | $array[0]: Auto Site Recovery (ASR)
1510157950

17
$type:  | $_[0]: Tax BC/DR Plan; Note; 11-07-2017; KEN;Tax BC/DR Plan; Assembling the spreadsheet Tom B gave me of their systems and putting into BIA format.; Green   | $array[0]: Tax BC/DR Plan
1510157950

18


The Dumper!
$VAR1 = {
          'Virtual Firewalling' => {
                                     '1' => [
                                              'none',
                                              'Project',
                                              '10-31-2017',
                                              'CLAUS',
                                              'Virtual Firewalling',
                                              'Nothing to report.',
                                              'Green'
                                            ]
                                   },
          'Refresh Network Security Design' => {
                                                 '1' => [
                                                          'none',
                                                          'Project',
                                                          '10-31-2017',
                                                          'DAN',
                                                          'Refresh Network Security Design',
                                                          'Still being put together.  Hoping for next Monday.',
                                                          'Green'
                                                        ]
                                               },
          'Auto Site Recovery (ASR)' => {
                                          '1' => [
                                                   'none',
                                                   'Project',
                                                   '10-31-2017',
                                                   'KEN',
                                                   'Auto Site Recovery (ASR)',
                                                   'Waiting for either Ray or VPN solution Jon is working on with David K.',
                                                   'Green'
                                                 ],
                                          '1510157966' => [
                                                            'Auto Site Recovery (ASR)',
                                                            'Note',
                                                            '11-07-2017',
                                                            'KEN',
                                                            'Auto Site Recovery (ASR)',
                                                            'Meeting with Jon today to knowledge transfer what he has been working on to move forward while he is on vacation.',
                                                            'Green'
                                                          ]
                                        },
          'MS Dynamics' => {
                             '1' => [
                                      'none',
                                      'Project',
                                      '10-31-2017',
                                      'MIKE',
                                      'MS Dynamics',
                                      'Microsoft will present a POC to primarily business on Thursday (based on business stories provided by participants and data from primary sources).',
                                      'Green'
                                    ]
                           },
          'Resource Refresh and VxRack' => {
                                             '1' => [
                                                      'none',
                                                      'Project',
                                                      '10-31-2017',
                                                      'CLAUS',
                                                      'Resource Refresh and VxRack',
                                                      'Waiting for contract to be signed. Working with Jim on prep stuff so that Dell-EMC can start moving as soon as signed. Have pretty logical network diagram for the future VxRack environment. Networking needs to figure out how much they want to be part of the physical network gear included in the VxRack solution. Ray likes the idea of owning it.  Peter does not.  ACLs on the core really makes the most sense for the big, fat pipes. I do like the idea of removing our physical mgmt firewalls from the mix and it is something that should be a lot easier and less disruptive after migration to VxRack is complete.',
                                                      'Green'
                                                    ]
                                           },
          'O365 Working Group' => {
                                    '1' => [
                                             'none',
                                             'Project',
                                             '10-31-2017',
                                             'MIKE',
                                             'O365 Working Group',
                                             'Nothing so far this week, going to follow up with Karen Canas.  Still unsure what the priorities are for this project are?',
                                             'Green'
                                           ]
                                  },
          'Federated Services' => {
                                    '1' => [
                                             'none',
                                             'Project',
                                             '10-31-2017',
                                             'MIKE',
                                             'Federated Services',
                                             'Static, focus has been on Dynamics POC this week.',
                                             'Green'
                                           ]
                                  },
          'Cloud Design' => {
                              '1' => [
                                       'none',
                                       'Project',
                                       '10-31-2017',
                                       'JON',
                                       'Cloud Design',
                                       'On hold, waiting on VPN and test plan for edge protection. Minor experimentation as ideas come up from training.',
                                       'Green'
                                     ]
                            },
          'LM and SolarWinds' => {
                                   '1' => [
                                            'none',
                                            'Project',
                                            '10-31-2017',
                                            'JON',
                                            'LM and SolarWinds',
                                            'Ray said no testing until new server was running. Pinged Rick on its status.  Waiting.',
                                            'Green'
                                          ]
                                 },
          'VPN' => {
                     '1' => [
                              'none',
                              'Project',
                              '10-31-2017',
                              'JON',
                              'VPN',
                              'Coordinating with David on his required info for a ticket to be created.',
                              'Green'
                            ]
                   },
          'Amazon' => {
                        '1' => [
                                 'none',
                                 'Project',
                                 '10-31-2017',
                                 'MIKE',
                                 'Amazon',
                                 'Nothing much happening',
                                 'Green'
                               ]
                      },
          'Business Continuity and Disaster Recovery (BC/DR)' => {
                                                                   '1510157965' => [
                                                                                     'Business Continuity and Disaster Recovery (BC/DR)',
                                                                                     'Note',
                                                                                     '11-07-2017',
                                                                                     'KEN',
                                                                                     'Business Continuity and Disaster Recovery (BC/DR)',
                                                                                     'Assembling the spreadsheet Tom B gave me of their systems and putting into BIA format.',
                                                                                     'Green '
                                                                                   ],
                                                                   '1' => [
                                                                            'none',
                                                                            'Project',
                                                                            '10-31-2017',
                                                                            'KEN',
                                                                            'Business Continuity and Disaster Recovery (BC/DR)',
                                                                            'Still need to meet with Secretary.',
                                                                            'Green '
                                                                          ]
                                                                 },
          'Tax BC/DR Plan' => {
                                '1510157967' => [
                                                  'Tax BC/DR Plan',
                                                  'Note',
                                                  '11-07-2017',
                                                  'KEN;Tax BC/DR Plan',
                                                  'Assembling the spreadsheet Tom B gave me of their systems and putting into BIA format.',
                                                  'Green  '
                                                ],
                                '1' => [
                                         'none',
                                         'Project',
                                         '10-31-2017',
                                         'KEN',
                                         'Tax BC/DR Plan',
                                         'Met with Tom B and got some great input into the BIA for a few critical systems. Tom is going to get the rest of the documents updated electronically (info is gathered not entered) then we will transpose to the BIA worksheet.',
                                         'Green  '
                                       ]
                              },
          'Rubrik' => {
                        '1' => [
                                 'none',
                                 'Project',
                                 '10-31-2017',
                                 'CLAUS',
                                 'Rubrik',
                                 'Rubrik is still cool. Currently protecting 350 VMs and about 45TB of provisioned space. We have about 200TB of provisioned VM space still to go and will not be able to include all of that pre-VxRack (slow, old firewalls do not enough throughput to keep everything backed up on a daily cycle). Will be submitting ACLs today or tomorrow to be put on the cores at TV and NL to protect the data pipes to Rubrik. Will be adding some datamover filesystems soon. They will not traverse our slow old firewalls so we should start getting a bit closer to utilizing the potential of the solution.  That being said the existing network design will still be constricting it somewhat.',
                                 'Green'
                               ]
                      }
        };


style_ref_HoHoA_1


Amazon
	1, 10-31-2017, MIKE, Amazon, Nothing much happening, Green, 

Auto Site Recovery (ASR)
	1, 10-31-2017, KEN, Auto Site Recovery (ASR), Waiting for either Ray or VPN solution Jon is working on with David K., Green, 
	1510157966, 11-07-2017, KEN, Auto Site Recovery (ASR), Meeting with Jon today to knowledge transfer what he has been working on to move forward while he is on vacation., Green, 

Business Continuity and Disaster Recovery (BC/DR)
	1, 10-31-2017, KEN, Business Continuity and Disaster Recovery (BC/DR), Still need to meet with Secretary., Green , 
	1510157965, 11-07-2017, KEN, Business Continuity and Disaster Recovery (BC/DR), Assembling the spreadsheet Tom B gave me of their systems and putting into BIA format., Green , 

Cloud Design
	1, 10-31-2017, JON, Cloud Design, On hold, waiting on VPN and test plan for edge protection. Minor experimentation as ideas come up from training., Green, 

Federated Services
	1, 10-31-2017, MIKE, Federated Services, Static, focus has been on Dynamics POC this week., Green, 

LM and SolarWinds
	1, 10-31-2017, JON, LM and SolarWinds, Ray said no testing until new server was running. Pinged Rick on its status.  Waiting., Green, 

MS Dynamics
	1, 10-31-2017, MIKE, MS Dynamics, Microsoft will present a POC to primarily business on Thursday (based on business stories provided by participants and data from primary sources)., Green, 

O365 Working Group
	1, 10-31-2017, MIKE, O365 Working Group, Nothing so far this week, going to follow up with Karen Canas.  Still unsure what the priorities are for this project are?, Green, 

Refresh Network Security Design
	1, 10-31-2017, DAN, Refresh Network Security Design, Still being put together.  Hoping for next Monday., Green, 

Resource Refresh and VxRack
	1, 10-31-2017, CLAUS, Resource Refresh and VxRack, Waiting for contract to be signed. Working with Jim on prep stuff so that Dell-EMC can start moving as soon as signed. Have pretty logical network diagram for the future VxRack environment. Networking needs to figure out how much they want to be part of the physical network gear included in the VxRack solution. Ray likes the idea of owning it.  Peter does not.  ACLs on the core really makes the most sense for the big, fat pipes. I do like the idea of removing our physical mgmt firewalls from the mix and it is something that should be a lot easier and less disruptive after migration to VxRack is complete., Green, 

Rubrik
	1, 10-31-2017, CLAUS, Rubrik, Rubrik is still cool. Currently protecting 350 VMs and about 45TB of provisioned space. We have about 200TB of provisioned VM space still to go and will not be able to include all of that pre-VxRack (slow, old firewalls do not enough throughput to keep everything backed up on a daily cycle). Will be submitting ACLs today or tomorrow to be put on the cores at TV and NL to protect the data pipes to Rubrik. Will be adding some datamover filesystems soon. They will not traverse our slow old firewalls so we should start getting a bit closer to utilizing the potential of the solution.  That being said the existing network design will still be constricting it somewhat., Green, 

Tax BC/DR Plan
	1, 10-31-2017, KEN, Tax BC/DR Plan, Met with Tom B and got some great input into the BIA for a few critical systems. Tom is going to get the rest of the documents updated electronically (info is gathered not entered) then we will transpose to the BIA worksheet., Green  , 
	1510157967, 11-07-2017, KEN;Tax BC/DR Plan, Assembling the spreadsheet Tom B gave me of their systems and putting into BIA format., Green  , 

VPN
	1, 10-31-2017, JON, VPN, Coordinating with David on his required info for a ticket to be created., Green, 

Virtual Firewalling
	1, 10-31-2017, CLAUS, Virtual Firewalling, Nothing to report., Green, 





<html>

  <head>
    <title>Cloud Services Report</title>
    <link rel=stylesheet type=text/css href="http://40.76.61.42:5004/css/style_1.css">
  </head>
  <body>
    <div class=page>
    <h1>Dancr 2</h1>
       <div class=metanav>
       
         <a href="http://40.76.61.42:5004/login">log in</a>
       
    </div>
    
    
  <ul class=entries>
<!--
-->
  <table id="rounded-corner" summary="Listing"> 

<tr style="background-color:#E6E6FA; color:black;">
<td>Amazon</td>
</tr>
<tr>
<td>10-31-2017</td> <td>MIKE</td> <td>Amazon</td> <td>Nothing much happening</td> <td>Green</td> </td>

<tr style="background-color:#E6E6FA; color:black;">
<td>Auto Site Recovery (ASR)</td>
</tr>
<tr>
<td>10-31-2017</td> <td>KEN</td> <td>Auto Site Recovery (ASR)</td> <td>Waiting for either Ray or VPN solution Jon is working on with David K.</td> <td>Green</td> </td>

<tr>
<td>11-07-2017</td> <td>KEN</td> <td>Auto Site Recovery (ASR)</td> <td>Meeting with Jon today to knowledge transfer what he has been working on to move forward while he is on vacation.</td> <td>Green</td> </td>

<tr style="background-color:#E6E6FA; color:black;">
<td>Business Continuity and Disaster Recovery (BC/DR)</td>
</tr>
<tr>
<td>10-31-2017</td> <td>KEN</td> <td>Business Continuity and Disaster Recovery (BC/DR)</td> <td>Still need to meet with Secretary.</td> <td>Green </td> </td>

<tr>
<td>11-07-2017</td> <td>KEN</td> <td>Business Continuity and Disaster Recovery (BC/DR)</td> <td>Assembling the spreadsheet Tom B gave me of their systems and putting into BIA format.</td> <td>Green </td> </td>

<tr style="background-color:#E6E6FA; color:black;">
<td>Cloud Design</td>
</tr>
<tr>
<td>10-31-2017</td> <td>JON</td> <td>Cloud Design</td> <td>On hold, waiting on VPN and test plan for edge protection. Minor experimentation as ideas come up from training.</td> <td>Green</td> </td>

<tr style="background-color:#E6E6FA; color:black;">
<td>Federated Services</td>
</tr>
<tr>
<td>10-31-2017</td> <td>MIKE</td> <td>Federated Services</td> <td>Static, focus has been on Dynamics POC this week.</td> <td>Green</td> </td>

<tr style="background-color:#E6E6FA; color:black;">
<td>LM and SolarWinds</td>
</tr>
<tr>
<td>10-31-2017</td> <td>JON</td> <td>LM and SolarWinds</td> <td>Ray said no testing until new server was running. Pinged Rick on its status.  Waiting.</td> <td>Green</td> </td>

<tr style="background-color:#E6E6FA; color:black;">
<td>MS Dynamics</td>
</tr>
<tr>
<td>10-31-2017</td> <td>MIKE</td> <td>MS Dynamics</td> <td>Microsoft will present a POC to primarily business on Thursday (based on business stories provided by participants and data from primary sources).</td> <td>Green</td> </td>

<tr style="background-color:#E6E6FA; color:black;">
<td>O365 Working Group</td>
</tr>
<tr>
<td>10-31-2017</td> <td>MIKE</td> <td>O365 Working Group</td> <td>Nothing so far this week, going to follow up with Karen Canas.  Still unsure what the priorities are for this project are?</td> <td>Green</td> </td>

<tr style="background-color:#E6E6FA; color:black;">
<td>Refresh Network Security Design</td>
</tr>
<tr>
<td>10-31-2017</td> <td>DAN</td> <td>Refresh Network Security Design</td> <td>Still being put together.  Hoping for next Monday.</td> <td>Green</td> </td>

<tr style="background-color:#E6E6FA; color:black;">
<td>Resource Refresh and VxRack</td>
</tr>
<tr>
<td>10-31-2017</td> <td>CLAUS</td> <td>Resource Refresh and VxRack</td> <td>Waiting for contract to be signed. Working with Jim on prep stuff so that Dell-EMC can start moving as soon as signed. Have pretty logical network diagram for the future VxRack environment. Networking needs to figure out how much they want to be part of the physical network gear included in the VxRack solution. Ray likes the idea of owning it.  Peter does not.  ACLs on the core really makes the most sense for the big, fat pipes. I do like the idea of removing our physical mgmt firewalls from the mix and it is something that should be a lot easier and less disruptive after migration to VxRack is complete.</td> <td>Green</td> </td>

<tr style="background-color:#E6E6FA; color:black;">
<td>Rubrik</td>
</tr>
<tr>
<td>10-31-2017</td> <td>CLAUS</td> <td>Rubrik</td> <td>Rubrik is still cool. Currently protecting 350 VMs and about 45TB of provisioned space. We have about 200TB of provisioned VM space still to go and will not be able to include all of that pre-VxRack (slow, old firewalls do not enough throughput to keep everything backed up on a daily cycle). Will be submitting ACLs today or tomorrow to be put on the cores at TV and NL to protect the data pipes to Rubrik. Will be adding some datamover filesystems soon. They will not traverse our slow old firewalls so we should start getting a bit closer to utilizing the potential of the solution.  That being said the existing network design will still be constricting it somewhat.</td> <td>Green</td> </td>

<tr style="background-color:#E6E6FA; color:black;">
<td>Tax BC/DR Plan</td>
</tr>
<tr>
<td>10-31-2017</td> <td>KEN</td> <td>Tax BC/DR Plan</td> <td>Met with Tom B and got some great input into the BIA for a few critical systems. Tom is going to get the rest of the documents updated electronically (info is gathered not entered) then we will transpose to the BIA worksheet.</td> <td>Green  </td> </td>

<tr>
<td>11-07-2017</td> <td>KEN;Tax BC/DR Plan</td> <td>Assembling the spreadsheet Tom B gave me of their systems and putting into BIA format.</td> <td>Green  </td> </td>

<tr style="background-color:#E6E6FA; color:black;">
<td>VPN</td>
</tr>
<tr>
<td>10-31-2017</td> <td>JON</td> <td>VPN</td> <td>Coordinating with David on his required info for a ticket to be created.</td> <td>Green</td> </td>

<tr style="background-color:#E6E6FA; color:black;">
<td>Virtual Firewalling</td>
</tr>
<tr>
<td>10-31-2017</td> <td>CLAUS</td> <td>Virtual Firewalling</td> <td>Nothing to report.</td> <td>Green</td> </td>

</table>
</div>
</body>
</html>




