<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title>CS Project Dashboard</title>
<link rel="stylesheet" href="http://10.80.8.12:443/css/style.css" />
<!-- Grab jQuery from a CDN, fall back to local if necessary -->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- End Comments -->
<style>
body {
    background-color: #ddd;
}

@media screen and (min-width: 480px) {
    body {
        background-color: cornflower;
    }
}
</style>

  </head>
  <body>
    <div class=page>
    <h1>CS Dashboard</h1>
       <div class=metanav>
    </div>
  <ul class=entries>
  <table id="rounded-corner" summary="Listing"> 

<tbody bgcolor="#ffd">
<tr style="background-color:darkblue; color:white;">
<td>Heading OR Date</td>
<td>Staff</td>
<td>Parent</td>
<td>Note</td>
<td>Progress</td>
</tr>
</tbody>
<!-- Start Heading -->
<tbody>
<tr style="background-color:#E6E6FA; color:black;">
<td>Aircraft</td>
</tr>
</tbody>
<!-- Start Listing  3 0-->
  <tbody bgcolor="#ffd">
  <tr class="flip"; style="background-color:lightblue; color:black;">
<!-- Flip Start 3 1-->
  <tbody class="section" style="display: none;">
  <td>Initiative</td>
  <td>P51 Mustang</td>
 </tr>

<!-- Flip Start 3 1-->
  <tr>
  <td>Initiative</td>
  <td>P38 Lightning</td>
 </tr>

 </tbody>
<!-- End -->
<!-- Start Heading -->
<tbody>
<tr style="background-color:#E6E6FA; color:black;">
<td>Flying machines</td>
</tr>
</tbody>
<!-- Start Listing  3 0-->
  <tbody bgcolor="#ffd">
  <tr class="flip"; style="background-color:lightblue; color:black;">
<!-- Flip Start 3 1-->
  <tbody class="section" style="display: none;">
  <td>Strategy</td>
  <td>Flying machines</td>
 </tr>

 </tbody>
<!-- End -->
<!-- Start Heading -->
<tbody>
<tr style="background-color:#E6E6FA; color:black;">
<td>P38</td>
</tr>
</tbody>
<!-- Start Listing  3 0-->
  <tbody bgcolor="#ffd">
  <tr class="flip"; style="background-color:lightblue; color:black;">
<!-- Flip Start 3 1-->
  <tbody class="section" style="display: none;">
  <td>Metric</td>
  <td>133 recorded kills.</td>
 </tr>

<!-- Flip Start 3 1-->
  <tr>
  <td>Note</td>
  <td>Twin boom.</td>
 </tr>

<!-- Flip Start 3 2-->
  <tr>
  <td>Note</td>
  <td>Fighter Bomber</td>
 </tr>

 </tbody>
<!-- End -->
<!-- Start Heading -->
<tbody>
<tr style="background-color:#E6E6FA; color:black;">
<td>P51</td>
</tr>
</tbody>
<!-- Start Listing  3 0-->
  <tbody bgcolor="#ffd">
  <tr class="flip"; style="background-color:lightblue; color:black;">
<!-- Flip Start 3 1-->
  <tbody class="section" style="display: none;">
  <td>Note</td>
  <td>Versatile</td>
 </tr>

<!-- Flip Start 3 1-->
  <tr>
  <td>Note</td>
  <td>Fastest plane.</td>
 </tr>

 </tbody>
<!-- End -->
<script>
$('.flip').click(function() {
    $(this)
        .closest('tbody')
        .next('.section')
        .toggle('fast');
});
</script>

</table>
</div>
</body>
</html>


